/* Dashboard CSS */

body {
    font-family: 'Arial', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px;
    overflow: hidden;
}

/* Add new CSS rules for the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #d7d7d7;
    display: flex;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
}

.navbar-logo {
    position: relative;
    width: 50px;
    left: 50px;
}

.navbar-brand {
    color: #414b56;
    font-size: 90%;
    font-weight: normal;
    text-decoration: none;
}

.button-container {
    padding-right: 50px;
}

.logout-nav-button {
    border-radius: 20px;
    padding: 10px;
    color: #414b56;
    font-weight: normal;
    border-color: #414b56;
    border-width: thin;
    background-color: #d7d7d7;
    transition: background 0.3s;
}

.logout-nav-button:hover {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
}

/* Dashboard css */

.header-container {
    background: #fff;
    width: 100%;
    height: auto;
    position: fixed;
    top: 60px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
    position: absolute;
    left: 2%; /* Adjust as necessary */
}

.main-content { 
    position: fixed;
    top: 16%;
    width: 95%;
    height: 80%; /* Adjust as necessary */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
}

.table-container {
    width: 95%;
    height: 100%;
    overflow: auto; /* Make table scrollable */
}

.dashboard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1.5rem;
}

.dashboard-table th, .dashboard-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.dashboard-table th {
    background: #f2f2f2;
    color: #333;
    font-weight: bold;
    position: sticky;
    top: 0; /* Fix the header to the top */
    z-index: 1; /* Ensure the header stays on top of other table content */
}

.dashboard-table th:nth-child(1), .dashboard-table td:nth-child(1) {
    width: 15%;
}

.dashboard-table th:nth-child(2), .dashboard-table td:nth-child(2) {
    width: 70%;
}

.dashboard-table th:nth-child(3), .dashboard-table td:nth-child(3) {
    width: 15%;
}

.dashboard-table tr:nth-child(even) {
    background: #f9f9f9;
}

.dashboard-table tr:hover {
    background: #f1f1f1;
}

.update-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.update-button {
    background: #ffc107;
    color: #fff;
}

.update-button:hover {
    background: #e0a800;
}

.delete-button {
    background: #dc3545;
    color: #fff;
    margin-left: 5px;
}

.delete-button:hover {
    background: #c82333;
}

.add-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 95%;
}

.form-group label {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 16px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #f9f9f9;
}

.form-group input:focus {
    outline: none;
    border-color: #667eea;
    background: #fff;
}

.add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-button:hover {
    background: #218838;
}

.flash-container {
    position: absolute;
}

.flashes {
    list-style-type: none;
    text-align: center;
}

.flash-message {
    background: #d4edda;
    color: #155724;
    padding: 5px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.search-container {
    width: 20%;
    margin-left: auto;
    margin-right: 7%;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background: #f9f9f9;
}

#search-input:focus {
    outline: none;
    border-color: #667eea;
    background: #fff;
}