body {
    font-family: 'Arial', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 600px;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

.login-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.login-form-wrapper {
    flex: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left: 2px solid #ccc; /* Add partition line */
    height: 100%;
    display: flex;
    align-items: center;
}

.login-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.login-form h1 {
    text-align: left;
    color: #333;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 0.5rem;
}

.input-group i {
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #667eea;
    background: #fff;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.login-button:hover {
    background: #218838;
}
